<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Photo Gallery</title>

  <!-- Bootstrap CSS  & FontAwsome-->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="font-awesome/css1/all.css" rel="stylesheet">
  <link rel="icon" href="images/icon.png" />
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="css/style4.css">
  <script type="text/javascript" src="font-awesome/js1/fontawesome.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</head>
<body onload="hideBoth()">
<div class="wrapper">
  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light"
         style="border-bottom: 4px solid #7386D5;">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse"
                class="btn btn-info mr-4">
          <i class="fas fa-align-left"></i>
          <!-- <span>Toggle Sidebar</span> -->
        </button>
        <form class="form-inline frm" th:action="@{/}" method="POST">
          <input class="form-control mr-sm-2" type="search"
                 placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item  active"><a class="nav-link btn btn-light mr-2"
                                            onclick="GotoUpload()" type="reset" id="one">Upload Photo</a></li>
            <li class="nav-item"><a onclick="Gotoprofile()" type="reset" class="nav-link btn btn-light mr-2" id="two">My Photo</a></li>
            <li class="nav-item"><a onclick="Logout()" class="nav-link btn btn-light mr-2" type="reset" id="three">Log out</a></li>
            <li class="nav-item"><a onclick="Login()" class="nav-link btn btn-light mr-2" type="reset" id="four">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="line"></div>
    <div class="container" id="app">
      <table class="table" style="width:1400px;margin-left:auto;margin-right:auto;" >
        <thead class="thead-dark">
        <tr>
          <th scope="col">image</th>
          <th scope="col">name</th>
          <th scope="col">description</th>
          <th scope="col">likes</th>
          <th scope="col">date of upload</th>
        </tr>
        </thead>
        <tr th:each="photo : ${photo}">
          <td><button th:onclick="|Gotodetail(${photo.getId()})|"><img th:src="${photo.getImageurl()}" width="300" height="150"></button></td>
          <td th:text="${photo.getName()}"></td>
          <td th:text="${photo.getDescription()}"></td>
          <td th:text="${photo.getLikes()}"></td>
          <td th:text="${photo.getCreatedAt()}"></td>
        </tr>
      </table>

    </div>
    <div class="line"></div>
  </div>
</div>





<!-- Bootstrap JS & jQuery -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<!-- Popper.JS -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="api/ajaxFetch.js"></script>

</body>
</html>