<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <!-- Bootstrap CSS  & FontAwsome-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="font-awesome/css1/all.css" rel="stylesheet">
    <link rel="icon" href="images/icon.png" />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/style4.css">
</head>

<script type="text/javascript" src="~/js/profile.js"></script>
<body>
<div class="col-12">
    <h3 class="text-center">Photo Detail</h3>
    <button onclick="Home()" type="reset">Home</button>
    <hr>
    <div style="display:table-cell; vertical-align:middle; text-align:center">
        <tr th:each="photo : ${photo}">
            <td><img th:src="${photo.getImageurl()}" width="500" height="400"></td>
        </tr>
    </div>
    <div>
        <tr>Name:</tr>
        <tr th:text="${photo.getName()}"></tr>
    </div>
    <div>
        <tr>Description:</tr>
        <tr th:text="${photo.getDescription()}"></tr>
    </div>
    <div>
        <tr>Likes:</tr>
        <tr th:text="${photo.getLikes()}"></tr>
    </div>
    <button th:onclick="|like(${photo.getId()})|">Like it</button>
    <form>
        <tr>
            <td>
                Write your comment!!
            </td>
            <td><input id="id" name="id">
                <button type="submit">submit</button>
        </tr>
    </form>
    <hr>
</div>
</body>

<script>
    function like(id){
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/like/"+id);
        xhr.send();
        window.location.reload();
    }
</script>
</html>