<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <!-- Bootstrap CSS  & FontAwsome-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="font-awesome/css1/all.css" rel="stylesheet">
    <link rel="icon" href="images/icon.png" />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/style4.css">
</head>

<script type="text/javascript" src="~/js/profile.js"></script>
<body>
<div class="col-12">
    <h3 class="text-center">My Photo</h3>
    <button onclick="Home()" type="reset">Home</button>
    <hr>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">image</th>
            <th scope="col">name</th>
            <th scope="col">description</th>
            <th scope="col">likes</th>
            <th scope="col">date of upload</th>
        </tr>
        </thead>
        <tr th:each="photo : ${photo}">
            <td><img th:src="${photo.getImageurl()}" width="100" height="100"></td>
            <td th:text="${photo.getName()}"></td>
            <td th:text="${photo.getDescription()}"></td>
            <td th:text="${photo.getLikes()}"></td>
            <td th:text="${photo.getCreatedAt()}"></td>
            <td>
                <button th:onclick="|deletephoto(${photo.getId()},${photo.getOwnerid()})|">delete</button>
            </td>
        </tr>
    </table>
    <hr>
</div>
</body>
</html>