<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <!-- Bootstrap CSS  & FontAwsome-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="font-awesome/css1/all.css" rel="stylesheet">
    <link rel="icon" href="images/icon.png" />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/style4.css">
</head>

<script type="text/javascript" src="~/js/profile.js"></script>
<body>
<div class="col-12">
    <h3 class="text-center">Photo Detail</h3>
    <button onclick="Home()" type="reset">Home</button>
    <hr>
    <div style="display:table-cell; vertical-align:middle; text-align:center">
        <tr th:each="photo : ${photo}">
            <td><img th:src="${photo.getImageurl()}" width="500" height="400"></td>
        </tr>
    </div>
    <div>
        <tr>Name:</tr>
        <tr th:text="${photo.getName()}"></tr>
    </div>
    <div>
        <tr>Description:</tr>
        <tr th:text="${photo.getDescription()}"></tr>
    </div>
    <div>
        <tr>Likes:</tr>
        <tr th:text="${photo.getLikes()}"></tr>
    </div>
    <button th:onclick="|like(${photo.getId()})|">Like it</button>

           <div>
               <tr>
                   <td>
                       Write your comment!!
                   </td>
                   <td><input id="comment">
                       <button th:onclick="|comment(${photo.getId()})|">submit</button>
               </tr>
           </div>
    <hr>
</div>
<table>
    <thead>
    <tr>
        <th scope="col">Comments</th>
        <th scope="col">Created at</th>
        <th scope="col">Publisher id</th>
    </tr>
    </thead>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.getComment()}"></td>
        <td th:text="${comment.getCreatedAt()}"></td>
        <td th:text="${comment.getPublisherid()}"></td>
    </tr>
</table>
</body>

<script>
    function like(id){
        var loginuser=JSON.parse(sessionStorage.getItem("user")).id
        var info = {
            loginuser:loginuser,
            photoid:id
        }
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/like");
            xhr.setRequestHeader("Content-Type","application/json");
            xhr.send(JSON.stringify(info));
            window.location.reload();
            // document.getElementById("clk").style.visibility="hidden";
    }

    function comment(id){
        if(sessionStorage.length===0){
            alert("login before comment");
            window.location.href = "/login";
        }
        var info = {
            loginuser:JSON.parse(sessionStorage.getItem("user")).id,
            photoid:id,
            comment : document.getElementById("comment").value
        }
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/comment");
        xhr.setRequestHeader("Content-Type","application/json");
        xhr.send(JSON.stringify(info));
        window.location.reload();
    }

    function Home(){
        window.location.href = "/";
    }
</script>
</html>