<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <script type="text/javascript" src="js/register.js"></script>
</head>
<body onload="Check()">
<form>
  <table border="20" align="center" width="55%">
    <caption>User detail</caption>

    <tr>
      <td align="right">
        <sup><font color="red">*</font></sup>Username：
      </td>
      <td><input type="text" id="username" onchange="Check_1()"/>
        <span id="text_1"></span>
    </tr>
    <tr>
      <td align="right">
        <sup><font color="red">*</font></sup>Password：
      </td>
      <td><input type="password" id="password" onchange="Check_2()"/>
        <span id="text_2"></span>
      </td>
    </tr>

    <tr>
      <td align="right">
        <sup><font color="red">*</font></sup>Re-enter password：
      </td>
      <td><input type="password" id="passwordcheck" onchange="Check_3()"/>
        <span id="text_3"></span>
      </td>
    </tr>

    <tr>
      <td align="right">
        <sup><font color="red">*</font></sup>Type：
      </td>
      <td><select id="type" onchange="Check_4()">
        <option value="none">--choose one--</option>
        <option value=0>User</option>
        <option value=1>Editor </option>
      </select>
        <span id="text_4"></span>
    </tr>

    <tr>
      <td align="right">
        Full name：
      </td>
      <td><input type="text" id="name"/></td>
    </tr>

    <tr>
      <td align="right">
        Sex：
      </td>
      <td><select id="sex">
        <option value=0>--choose one--</option>
        <option value=0>male</option>
        <option value=1>female </option>
      </select>
    </tr>

    <tr>
      <td align="right">
        <sup><font color="red">*</font></sup>Email：
      </td>
      <td><input type="text" id="email" onchange="Check_5()"/>
        <span id="text_5"></span>
      </td>
    </tr>

    <tr>
      <td align="right">
        Phone：
      </td>
      <td><input type="text" id="phone"/>
      </td>
    </tr>

    <tr>
      <td align="center" colspan="2">
        <button type="reset" onclick="Register()" id="b1">Register</button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>